[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A very simple ANSI Console Virtual Terminal Sequences
[access "refs/*"]
	owner = group user/Mahmoud Bdeir (mbdeir)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mahmoud Bdeir (mbdeir)
	label-Verified = -1..+1 group user/Mahmoud Bdeir (mbdeir)
	push = group user/Mahmoud Bdeir (mbdeir)
	read = group user/Mahmoud Bdeir (mbdeir)
	rebase = group user/Mahmoud Bdeir (mbdeir)
	removeReviewer = group user/Mahmoud Bdeir (mbdeir)
	submit = group user/Mahmoud Bdeir (mbdeir)
[access "refs/heads/*"]
	create = group user/Mahmoud Bdeir (mbdeir)
	push = +force group user/Mahmoud Bdeir (mbdeir)
	pushMerge = group user/Mahmoud Bdeir (mbdeir)
	read = group user/Mahmoud Bdeir (mbdeir)
[access "refs/tags/*"]
	push = group user/Mahmoud Bdeir (mbdeir)
	push = +force group user/Mahmoud Bdeir (mbdeir)
